
<div class="container " style="margin-top: 80px; border: black opx solid"> 
<br>
<h1 class="text-center h1">Job Seekers Information</h1>

<br>
<div class="row">

<form class="form-inline md-form form-sm active-purple active-purple-2 col-6 offset-3"
  style="right:-40px;">
    <input class="form-control form-control-sm ml-3 w-75" 
    type="text" placeholder="Search" aria-label="Search"
    (keyup)="searchJobSeeker($event)"
    mdbInput> <i class="fas fa-search" aria-hidden="true"></i>
  </form>

  <!-- <div class="col-1 mt-4" style="left: -70px">
    <h2>OR</h2>
  </div>

  <form [formGroup]="criteriaForm" class="form-inline md-form form-sm active-purple active-purple-2 col-4"
  style="left: -50px" >
      <select formControlName="criteria" class="browser-default custom-select" [(ngModel)]="defaultSearch"
      style="width: 450px">
          <option value="all">Select by Jobseeker Criteria</option> 
        <option value="sector" (click)="test()">Sector</option>
          <option value="min_edu_lvl">Minimum Education Level</option>
          <option value="min_num_gcse_passes">Minimum Number of GCSE Passes</option>
          <option value="min_edu_qualification">Specific Educational Qualification</option>
          <option value="min_prop_qualification">Specific Professional Qualification</option>
          <option value="spec_skill">Specific Skill</option>
          <option value="spec_experience">Specific Experience</option>
      </select>
    </form> -->
    
</div>  

<hr>
<br>
<div class="alert alert-danger" role="alert" *ngIf="jobSeekers.length === 0 && !showSpinner">
  
  <h1 class="text-center "><strong>No result Found</strong></h1>
</div>

<div class="row" style="cursor: pointer"  >
  <div class="sk-fading-circle" *ngIf="showSpinner">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
  
<ul class="card col-md-5 mr-5" style="left: 70px;" *ngFor= "let jobSeeker of jobSeekers">
  <ol (click)="navigateJobSeeker(jobSeeker.username)" 
   >
    <strong>Firstname, Lastname:</strong> {{jobSeeker.firstName}},&nbsp;{{jobSeeker.lastName}} 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
    <strong> Gender:&nbsp;</strong>{{jobSeeker.gender | titlecase}} 
    <br>
    <strong>Age:</strong> {{jobSeeker.dob | AgePipe}}
    <br> 
    <strong>Min Education:</strong> {{jobSeeker.minEduLvl | titlecase}}
    <br>
    <strong>GSCE Passes:</strong> {{jobSeeker.minNumGscePasses | titlecase}}
    <br>
    <strong>Specific Education:</strong> {{jobSeeker.specificEduLvl | titlecase}}
    <br>
    <strong>Specific Professional:</strong> {{jobSeeker.specificProfessionalLvl | titlecase}}
    <br>
    <strong>Specific Skill:</strong> {{jobSeeker.specificSkill | titlecase}}
    <br>
    <strong>Specific Experience:</strong> {{jobSeeker.specificExperience | titlecase}}
    <br>
    <strong>Sector:</strong> {{jobSeeker.sector | titlecase}}
    <br>
    <strong>Type:</strong> {{jobSeeker.type | titlecase}}
   </ol>    
   <br>
</ul>



</div>

<!-- 

<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-6 float-left"
  style=" float: left; margin:0;">
  
  <div class="row">
  
  <app-jobseeker-card  ></app-jobseeker-card>

  </div>
</div>
</div> -->

<!-- End panel DIV -->
</div>